server:
  port: 8082

spring:
  application:
    name: expense-service

   spring:
  datasource:
    url: jdbc:mysql://mysql:3306/expensedb
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  config:
    import: optional:configserver:http://config-server:8888
