server:
  port: 8082

spring:
  application:
    name: expense-service

  datasource:
    # Use 'mysql-db' as the hostname (we will define this in docker-compose)
    url: jdbc:mysql://mysql-db:3306/expensedb?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

  config:
    import: optional:configserver:http://config-server:8887
